[Desktop Entry]
Version=1.0
Type=Application
Exec=pactl set-card-profile alsa_card.pci-0000_00_1f.3 output:analog-stereo+input:analog-stereo
Icon=audio-headset
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=pulseaudio analog I/O profile
Comment=Set pulseaudio analog I/O profile
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=
