[Unit]
Description=conky daemon
After=default.target

[Service]
RestartSec=5
Restart=always
ExecStart=conky --pause=20

[Install]
WantedBy=default.target
