[Unit]
Description=conky daemon
After=default.target

[Service]
RestartSec=5
Restart=always
ExecStart=conky-wrapper.sh

[Install]
WantedBy=default.target
