---
# see https://atuin.sh/
# releases from https://github.com/atuinsh/atuin/releases
- name: Install atuin
  ansible.builtin.include_tasks: "{{ role_path }}/../common/tasks/binary-install-from-url.yaml"
  vars:
    binary:
      name: "atuin"
      version: "18.10.0"
      version_command: "atuin --version"
      path: "/usr/local/bin/atuin"
      url: "https://github.com/atuinsh/atuin/releases/download/v18.10.0/atuin-x86_64-unknown-linux-gnu.tar.gz"
      checksum: "sha256:21fd614adca7bb6e26b7e37d867b7a8ff3436df8821e74de3941bc18533b1898"
      unpack: true

- name: Run atuin sync
  ansible.builtin.command:
    cmd: atuin sync
