[LightDM]

[Seat:*]
greeter-hide-users=false
{% if ansible_facts['nodename'] == 'nostromo' %}
display-setup-script=sh -c "xrandr -s 1920x1080 && xrandr --setprovideroutputsource NVIDIA-G0 modesetting && xrandr --auto"
{% endif %}
{% if ansible_facts['nodename'] == 'endurance' %}
display-setup-script=sh -c "xrandr -s 1920x1080"
{% endif %}

[XDMCPServer]

[VNCServer]
