[Unit]
Description=GitSign credential cache socket

[Socket]
ListenStream=/home/%u/.cache/sigstore/gitsign/cache.sock
DirectoryMode=0700

[Install]
WantedBy=default.target
